#Ft
  b
    a.site(href="//i18n.site")
    | ${I18N.C}
  b
    //- a &#xe769;
    //- a &#xe627;
    a(href="//github.com/i18n-site") &#xe64c;
    a(href="//x.com/i18nSite") &#xe606;
    a(href="//i18n-site.bsky.social") &#xe609;
    a(href="//groups.google.com/u/2/g/i18n-site") &#xe608;
